{% extends "_layouts/cp" %}
{% set title = "Stackr" %}

{% block sidebar %}
  <div>
    {# header #}
    <div>
      <h1>Components <span>({{ components | length }})</span></h1>
    </div>

    {# Menu #}
    <div id="menu">
      <ul>
        {% for groupName,group in components %}
          <li>
            <p>{{ groupName }}</p>
            <ul>
              {% for component in group %}
                <li><a href="#{{ component.getName() }}">{{ component.getName() }}</a></li>
              {% endfor %}
            </ul>
          <li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}
  {# Details #}
  <div>
    {% for group in components %}
      {% for component in group %}
        <div data-component="{{ component.getName() }}" style="display: none;">
          <p>{{ component.getSchema().getFile() }}</p>
          <h3><strong>{{ component.getName() }}</strong></h3>
          <p>{{ component.getSchema().getDescription() }}</p>
          <a href="./preview/{{ component.getName() }}" class="btn btn-primary">
            <i class="fa fa-pencil"></i>Preview
          </a>
          <a href="vscode:/{{ component.getSchema().getFile() }}" class="btn btn-primary">
            <i class="fa fa-pencil"></i>Edit
          </a>

          <h4>Attributes</h4>
          <dl>
            {% for name,description in component.getSchema().getAttributes() %}
              <li>{{ name }}: {{ description }}</li>
            {% endfor %}
          </dl`>

          {{ stackr('headline', {text: '123', level: 1}) }}

          <h4>Twig</h4>
          <div>
            <pre><code>{{ component.getSchema().getTemplate() }}</code></pre>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
  <script>
    const menuItems = document.querySelectorAll('#menu a');
    const components = document.querySelectorAll('[data-component]');

    for (var i = 0; i < menuItems.length; i++) {
      menuItems[i].addEventListener('click', function(e) {

        for (var j = 0; j < components.length++; j++) {
          components[j].style.display = 'none';
        }

        e.preventDefault();
        const handle = e.target.getAttribute('href').substr(1);
        const componentEl = document.querySelector('[data-component="' + handle  + '"]');
        componentEl.style.display = 'block';
      });
    }
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
  <!-- and it's easy to individually load additional languages -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/languages/go.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
